stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  CLICKABLE_VERSION: 6.23.0

.arm64: &arm64
  variables:
    ARCH: "arm64"
    ARCH_TRIPLET: "aarch64-linux-gnu"

.amd64: &amd64
  variables:
    ARCH: "amd64"
    ARCH_TRIPLET: "x86_64-linux-gnu"

.sageteamail:
  stage: build
  image: clickable/amd64-16.04-$ARCH:16.04.4-qt5.9
  tags:
    - docker
  script:
    - apt-get update
    - apt-get -y -f --no-install-recommends install gnupg ubuntu-keyring software-properties-common
    - add-apt-repository ppa:bhdouglass/clickable
    - apt-get update
    - apt-get install -y clickable locales-all
    - apt-get -y remove wget
    - apt-get -y autoremove
    - apt-get clean 
    - rm -rf /var/lib/apt/lists/*
    - export CLICKABLE_CONTAINER_MODE=1
    - export CLICKABLE_ARCH=$ARCH
    - export CLICKABLE_NON_INTERACTIVE=1
    - clickable build
  artifacts:
    paths:
      - 'build/$ARCH_TRIPLET/*.click'
    when: on_success
    expire_in: 4 days

sageteamail:arm64:
  <<: *arm64
  extends: .sageteamail

sageteamail:amd64:
  <<: *amd64
  extends: .sageteamail