stages:
  - build
  - snapbuild
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  CLICKABLE_VERSION: 6.24.0

.arm64: &arm64
  variables:
    ARCH: "arm64"
    ARCH_TRIPLET: "aarch64-linux-gnu"

.sageteamail:
  stage: build
  image: clickable/ci-16.04-$ARCH:$CLICKABLE_VERSION
  tags:
    - docker
  script:
    - clickable build
  artifacts:
    paths:
      - 'build/$ARCH_TRIPLET/*.click'
    when: on_success
    expire_in: 4 days

snap:amd64:
  stage: snapbuild
  image: snapcore/snapcraft:stable
  tags:
    - docker
  script:
    - snapcraft snap --destructive-mode
  before_script:
    - apt-get update -qq
    - apt-get install -y -qq software-properties-common dirmngr
    - apt-key adv --keyserver keyserver.ubuntu.com --recv-keys $UBPORTS_KEY
    - apt-add-repository $UBPORTS_PPA -y
    - apt-get update -qq
  cache: {}
  artifacts:
    paths:
      - '*.snap'
    when: on_success
    expire_in: 1 week

sageteamail:arm64:
  <<: *arm64
  extends: .sageteamail