[submodule "upstream/maz-db"]
	path = upstream/maz-db
	url = https://gitlab.com/dekkoproject/maz-db.git
[submodule "upstream/quick-flux"]
	path = upstream/quick-flux
	url = https://gitlab.com/dekkan/quick-flux.git
[submodule "upstream/snap-standard-paths"]
	path = upstream/snap-standard-paths
	url = https://gitlab.com/dekkoproject/snap-standard-paths.git
[submodule "upstream/super-macros"]
	path = upstream/super-macros
	url = https://gitlab.com/dekkoproject/super-macros.git
[submodule "upstream/ubuntu-push-client"]
	path = upstream/ubuntu-push-client
	url = https://gitlab.com/dekkoproject/ubuntu-push-client.git
[submodule "upstream/qmf"]
	path = upstream/qmf
	url = https://gitlab.com/uapps/systemcore/sageteamail/messagingframework.git
[submodule "upstream/pyotherside"]
	path = upstream/pyotherside
	url = https://gitlab.com/dekkoproject/pyotherside.git
