stages:
  - build
  - deploy

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  DOCKER_DRIVER: overlay2
  CLICKABLE_VERSION: 6.24.0

.arm64: &arm64
  variables:
    ARCH: "arm64"
    ARCH_TRIPLET: "aarch64-linux-gnu"

.sageteamail:
  stage: build
  image: clickable/ci-16.04-$ARCH:$CLICKABLE_VERSION
  tags:
    - docker
  script:
    - clickable build
  artifacts:
    paths:
      - 'build/$ARCH_TRIPLET/*.click'
    when: on_success
    expire_in: 4 days

sageteamail:arm64:
  <<: *arm64
  extends: .sageteamail

