stages:
  - clickbuild
  - builddocs
  - deploy

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  DOCKER_DRIVER: overlay2

click:armhf:
  stage: clickbuild
  image: clickable/ci-16.04-armhf
  tags:
    - docker
  script:
    - clickable build
  artifacts:
    paths:
      - 'build/arm-linux-gnueabihf/*.click'
    when: on_success
    expire_in: 1 week

builddocs:
  stage: builddocs
  image: clickable/ci-16.04-armhf
  script:
    - apt update
    - apt install -y doxygen plantuml graphviz
    - doxygen
    - mv ../doxygen-out ./
  artifacts:
    paths:
      - ./doxygen-out

pages:
  stage: deploy
  image: ruby:2.3
  script:
    - mv doxygen-out/html/* ./
    - mv docs/Gemfile* ./
    - mv docs/_config.yml ./
    - bundle install
    - bundle exec jekyll build -d public
  dependencies:
    - builddocs
  artifacts:
    paths:
      - public
  only:
    - master
