stages:
  - build

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  DOCKER_DRIVER: overlay2
  CLICKABLE_VERSION: 6.23.0

.armhf: &armhf
  variables:
    ARCH: "armhf"
    ARCH_TRIPLET: "arm-linux-gnueabihf"

.arm64: &arm64
  variables:
    ARCH: "arm64"
    ARCH_TRIPLET: "aarch64-linux-gnu"

.amd64: &amd64
  variables:
    ARCH: "amd64"
    ARCH_TRIPLET: "x86_64-linux-gnu"

.dekko:
  stage: build
  image: clickable/amd64-16.04-$ARCH:16.04.4-qt5.9
  tags:
    - docker
  script:
    - apt-get update
    - apt-get -y -f --no-install-recommends install gnupg ubuntu-keyring software-properties-common build-essential qtbase5-dev-tools qtcreator
    - add-apt-repository ppa:bhdouglass/clickable
    - apt-get update
    - apt-get install -y clickable locales-all
    - apt-get -y remove wget
    - apt-get -y autoremove
    - apt-get clean 
    - rm -rf /var/lib/apt/lists/*
    - export CLICKABLE_CONTAINER_MODE=1
    - export CLICKABLE_ARCH=$ARCH
    - export CLICKABLE_NON_INTERACTIVE=1
    - clickable build
  artifacts:
    paths:
      - 'build/$ARCH_TRIPLET/*.click'
    when: on_success
    expire_in: 1 week

dekko:armhf:
  <<: *armhf
  extends: .dekko

dekko:arm64:
  <<: *arm64
  extends: .dekko

dekko:amd64:
  <<: *amd64
  extends: .dekko
