stages:
  - clickbuild
  - builddocs
  - deploy

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  DOCKER_DRIVER: overlay2

click:armhf:
  stage: clickbuild
  image: clickable/ci-16.04-armhf
  tags:
    - docker
  script:
    - clickable build
  artifacts:
    paths:
      - 'build/arm-linux-gnueabihf/*.click'
    when: on_success
    expire_in: 1 week

click:arm64:
  stage: clickbuild
  image: clickable/ci-16.04-arm64
  tags:
    - docker
  script:
    - apt-get update
    - apt-get install qemu-user-static --quiet --yes
    - clickable build click-build
  cache:
    paths:
      - build/aarch64-linux-gnu
    untracked: true
  artifacts:
    paths:
      - 'build/aarch64-linux-gnu/*.click'
    when: on_success
    expire_in: 1 week

builddocs:
  stage: builddocs
  image: clickable/ci-16.04-armhf
  script:
    - apt update
    - apt install -y doxygen plantuml graphviz doxyqml wget
    - wget -O /usr/share/plantuml/plantuml.jar https://downloads.sourceforge.net/project/plantuml/plantuml.jar?r=https%3A%2F%2Fsourceforge.net%2Fprojects%2Fplantuml%2Ffiles%2Fplantuml.jar%2Fdownload&ts=1591870450
    - doxygen
  artifacts:
    paths:
      - ./doxygen-out

pages:
  stage: deploy
  image: ruby:2.3
  script:
    - mv doxygen-out/html/* ./
    - mv docs/Gemfile* ./
    - mv docs/_config.yml ./
    - bundle install
    - bundle exec jekyll build -d public
  dependencies:
    - builddocs
  artifacts:
    paths:
      - public
  only:
    - master
